.bg-balls::before{
  content: url(assets/bg-pattern-top.svg);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-35%, -55%);
}
.bg-balls::after{
  content: url(assets/bg-pattern-bottom.svg);
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  transform: translate(28%, 65%);
}

@media screen and (max-width: 375px){
  .bg-balls::before{
    transform: translate(-78%, -55%);
  }
  .bg-balls::after{
    transform: translate(78%, 55%);
  }
}